@using TaskManagement.Core.Models
@model List<RawData>
@section Styles
{
    @*     <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap4.min.css" />
 *@
    <link rel="stylesheet" href="~/lib/datatables/css/buttons.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/css/buttons.bootstrap4.min.css" />
}
<div class="alert alert-dismissible bg-light border border-primary border-dashed d-flex flex-column flex-sm-row w-100 p-5 mb-10">
    <span class="svg-icon svg-icon-2x svg-icon-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24" />
                <path d="M10.5,5 L19.5,5 C20.3284271,5 21,5.67157288 21,6.5 C21,7.32842712 20.3284271,8 19.5,8 L10.5,8 C9.67157288,8 9,7.32842712 9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,10 L19.5,10 C20.3284271,10 21,10.6715729 21,11.5 C21,12.3284271 20.3284271,13 19.5,13 L10.5,13 C9.67157288,13 9,12.3284271 9,11.5 C9,10.6715729 9.67157288,10 10.5,10 Z M10.5,15 L19.5,15 C20.3284271,15 21,15.6715729 21,16.5 C21,17.3284271 20.3284271,18 19.5,18 L10.5,18 C9.67157288,18 9,17.3284271 9,16.5 C9,15.6715729 9.67157288,15 10.5,15 Z" fill="currentColor" />
                <path d="M5.5,8 C4.67157288,8 4,7.32842712 4,6.5 C4,5.67157288 4.67157288,5 5.5,5 C6.32842712,5 7,5.67157288 7,6.5 C7,7.32842712 6.32842712,8 5.5,8 Z M5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 C6.32842712,10 7,10.6715729 7,11.5 C7,12.3284271 6.32842712,13 5.5,13 Z M5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 C6.32842712,15 7,15.6715729 7,16.5 C7,17.3284271 6.32842712,18 5.5,18 Z" fill="currentColor" opacity="0.3" />
            </g>
        </svg>
    </span>
    <h1 class="d-flex text-primary fw-bolder m-0 fs-3 pt-1 ps-3">Raw Data </h1>
</div>

<div class="card">
    <div class="card-header border-0 pt-6">
        <div class="card-title">
            <partial name="_Search" />
        </div>
        <div class="card-toolbar">
            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                <partial name="_DatatablesExportButtons" />
            </div>
        </div>
    </div>
    <div class="card-body py-4">
        <table class="table align-middle table-row-dashed fs-6 gy-5 js-dataTable">
            <thead>
                <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                    <th>Id</th>
                    <th>Title</th>
                    <th>description</th>
                    <th>Status</th>
                    <th>PriorityLevel</th>
                    <th>AssignedTo</th>
                    <th>DueDate</th>
                    <th>CreatedOn</th>
                </tr>
            </thead>
            <tbody class="text-gray-600 fw-bold">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-Models-center">
                            <p class="text-gray-800 text-hover-primary mb-1">@item.Id</p>
                        </td>
                        <td class="align-items-center">
                            <p class="text-gray-800 text-hover-primary mb-1">@item.Title</p>
                        </td>
                        <td class="align-items-center">
                            <p class="text-gray-800 text-hover-primary mb-1">@item.Description</p>
                        </td>
                        <td class="align-items-center">
                            <p class="text-gray-800 text-hover-primary mb-1">@item.Status</p>
                        </td>
                        <td class="align-items-center">
                            <p class="text-gray-800 text-hover-primary mb-1">@item.PriorityLevel</p>
                        </td>
                        <td class="align-items-center">
                            <p class="text-gray-800 text-hover-primary mb-1">@item.AssignedToUser</p>
                        </td>
                        <td class="align-items-center">
                            <p class="text-gray-800 text-hover-primary mb-1">@item.DueDate</p>
                        </td>
                        <td class="align-items-center">
                            <p class="text-gray-800 text-hover-primary mb-1">@item.createdOn</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <partial name="_DataTablesJS" />
}