@using System.Security.Claims
@using TaskManagement.Core.Consts
@using TaskManagement.ViewModels
@model List<AssignmentViewModel>

<div class="d-flex flex-wrap flex-stack mb-6" data-select2-id="select2-data-214-znk1">
    <!--begin::Heading-->
    <h3 class="fw-bold my-2">
        My Tasks
        <span class="fs-6 text-gray-500 fw-semibold ms-1">Active</span>
    </h3>
    <!--end::Heading-->
    <!--begin::Actions-->
    @{
        var role = User.Identities.FirstOrDefault()?.Claims?.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
        if(role != Roles.User)
        {
            <div class="d-flex flex-wrap my-2" data-select2-id="select2-data-213-k53d">
                <a asp-action="CreateAssignment" asp-controller="Assignment" class="btn btn-primary btn-sm">New Task</a>
            </div>
        }
    }
    <!--end::Actions-->
</div>

<div class="row g-6 g-xl-9">
    @foreach (var item in Model)
    {
    <!--begin::Col-->
    <div class="col-md-6 col-xl-4">
        <!--begin::Card-->
        <a asp-action="GetAssignment" asp-route-id="@item.Key" class="card border-hover-primary ">
            <!--begin::Card header-->
            <div class="card-header border-0 pt-9">
                <!--begin::Card Title-->
                <div class="card-title m-0">
                    <!--begin::Avatar-->
                    <!--end::Avatar-->
                </div>
                <!--end::Car Title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                    <span class="badge badge-light-primary fw-bold me-auto px-4 py-3">@item.Status</span>
                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end:: Card header-->
            <!--begin:: Card body-->
            <div class="card-body p-9">
                <!--begin::Name-->
                <div class="fs-3 fw-bold text-gray-900">
                    @item.Title
                </div>
                <!--end::Name-->
                <!--begin::Description-->
                <p class="text-gray-500 fw-semibold fs-5 mt-1 mb-7">
                    @item.Description
                </p>
                <!--end::Description-->
                <!--begin::Info-->
                <div class="d-flex flex-wrap mb-5">
                    <!--begin::Due-->
                    <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-7 mb-3">
                            <div class="fs-6 text-gray-800 fw-bold">@item.DueDate.ToString("MM/dd/yyyy")</div>
                        <div class="fw-semibold text-gray-500">Due Date</div>
                    </div>
                    <!--end::Due-->
                    <!--begin::Budget-->
                    <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mb-3">
                        <div class="fs-6 text-gray-800 fw-bold">@item.PriorityLevel</div>
                            <div class="fw-semibold text-gray-500">PriorityLevel</div>
                    </div>

                    <!--end::Budget-->
                </div>
                <!--end::Info-->
                    @if(item.AssignedUser is not null)
                    {
                        <div class="fs-4 fw-bold text-gray-900">
                           Assigned To: @item.AssignedUser
                        </div>
                    }
            </div>
            <!--end:: Card body-->
        </a>
        <!--end::Card-->
    </div>
    }
</div>

